<div class="gb-contact text-center">
    <div id="gmap"></div>
    <div class="contact-info contact-address">
        <div class="event">
            <h2>Microsoft Irving Campus</h2>
            <address>
                <p>7000 State Highway 161</p><br>
                <p>Irving, TX 75039 </p><br>
            </address>
        </div>
        <ul class="contact-social gb-list list-inline">
            <li><a href="https://www.facebook.com/DevFestWeekend/"><img src="images/others/facebook.png" alt="Icon" class="img-responsive"></a></li>
            <li><a href="https://twitter.com/devfestweekend"><img src="images/others/twitter.png" alt="Icon" class="img-responsive"></a></li>
            @*<li><a href="#"><img src="images/others/youtube.png" alt="Icon" class="img-responsive"></a></li>*@
            @*<li><a href="#"><img src="images/others/instagram.png" alt="Icon" class="img-responsive"></a></li>*@
            @*<li><a href="#"><img src="images/others/whatsapp.png" alt="Icon" class="img-responsive"></a></li>*@
            @*<li><a href="#"><img src="images/others/google-plus.png" alt="Icon" class="img-responsive"></a></li>*@
        </ul>
    </div>
</div><!-- /.gb-contact -->