<div class="gb-cta-2 gb-section text-center white-color gb-bg ticket-bg">
    <div class="container">
        <div class="title-section white-title">
            <h1>
                <span class="before-top"></span>
                <span>Get Ticket Now</span>
                <span class="before-bottom"></span>
            </h1>
        </div>
        <div class="cta-info">
            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit</p>
            <div class="buttons">
                <a class="btn btn-default" href="https://devfestweekend.eventbrite.com/">Get a Ticket</a>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.gb-cta-2 -->