@model devfestweekend.Models.Sponsor
<div class="col-sm-6 col-md-3">
    <div class="speaker">
        <div class="speaker-image">
            @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
            {
                <img class="img-responsive" alt="Image" src="@Model.ImageUrl">
            }
            else
            {
                <img class="img-responsive" alt="Image" src="~/images/brand/logo-big.png">
            }
            <ul class="speaker-social gb-list list-inline">
                @if (!string.IsNullOrWhiteSpace(Model.TwitterUrl))
                {
                    <li>
                        <a href="https://twitter.com/@Model.TwitterUrl">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                }
                @if (!string.IsNullOrWhiteSpace(Model.WebsiteUrl))
                {
                    <li>
                        <a href="@Model.WebsiteUrl">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="speaker-title">
            <h2>@Model.Name</h2>
            <span>@Model.BoothLocation</span>
        </div>
    </div>
</div>