		<div class="gb-banner">
			<div class="banner-info text-center">
				<div class="container">
					<h1>Dev Fest Weekend</h1>
					<h2><span>13 October</span> Dallas / Fort Worth, Texas</h2>
					<a href="javascript:void(0);" class="btn button-white">Tickets Coming Soon</a>
                    <ul class="countdown gb-list list-inline">
                        <li>                    
                            <span class="days">00</span>
                            <p>days</p>
                        </li>
                        <li>
                            <span class="hours">00</span>
                            <p>hours</p>
                        </li>
                        <li>
                            <span class="minutes">00</span>
                            <p>minutes</p>
                        </li>
                        <li>
                            <span class="seconds">00</span>
                            <p>seconds</p>
                        </li>               
                    </ul><!-- countdown -->
                    <a href="https://www.papercall.io/devfestweekend" target="_blank" class="btn button-white">Call for Speakers</a>
				</div><!-- /.container -->
			</div><!-- /.banner-info -->
		</div><!-- /.gb-banner -->