@page
@model AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}
<div class="gb-breadcrumb gb-bg white-color about-bg">
    <div class="container">
        <div class="breadcrumb-info text-center">
            <div class="page-title">
                <h1>
                    <span class="before-top"></span>
                    <span>About Us</span>
                    <span class="before-bottom"></span>
                </h1>
            </div>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">About us</li>
            </ol>
        </div>
    </div><!-- /.container -->
</div><!-- /.gb-breadcrumb -->

<div class="gb-speakers gb-section text-center">
    <div class="container">
        <div class="title-section">
            <h1 class="color-red">
                <span class="before-top"></span>
                <span>Conference Organizers</span>
                <span class="before-bottom"></span>
            </h1>
        </div>
        <div class="row text-left">
            <div class="col-sm-6 col-md-3">
                <div class="speaker">
                    <div class="speaker-image">
                        <img src="images/organizers/sean-sparkman.jpg" alt="Image" class="img-responsive">
                        <ul class="speaker-social gb-list list-inline">
                            <li><a href="https://twitter.com/seansparkman" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/sean-sparkman-01447611/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://about.me/seansparkman" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="speaker-title">
                        <h2>Sean Sparkman</h2>
                        <span>Leader, Organizer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="speaker">
                    <div class="speaker-image">
                        <img src="images/organizers/toi-wright.jpg" alt="Image" class="img-responsive">
                        <ul class="speaker-social gb-list list-inline">
                            <li><a href="https://twitter.com/MissToi" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/toi-beveridge-wright-1291824/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="speaker-title">
                        <h2>Toi Wright</h2>
                        <span>Sponsor Organizer, Organizer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="speaker">
                    <div class="speaker-image">
                        <img src="images/organizers/harold-pulcher.png" alt="Image" class="img-responsive">
                        <ul class="speaker-social gb-list list-inline">
                            <li><a href="https://twitter.com/haroldpulcher" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/harold-pulcher-microsoft-mvp-0863881/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="speaker-title">
                        <h2>Harold Pulcher</h2>
                        <span>Speaker Coordinator, Organizer</span>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.gb-section -->

@await Html.PartialAsync("Callouts/_WhatIs")

@await Html.PartialAsync("Callouts/_Map")

@await Html.PartialAsync("Callouts/_Tickets")
