@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}
<div class="gb-breadcrumb gb-bg white-color contactus-bg">
    <div class="container">
        <div class="breadcrumb-info text-center">
            <div class="page-title">
                <h1>
                    <span class="before-top"></span>
                    <span>Contact Us</span>
                    <span class="before-bottom"></span>
                </h1>
            </div>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Contact us</li>
            </ol>
        </div>
    </div><!-- /.container -->
</div><!-- /.gb-breadcrumb -->

@if (!Model.MessageSent)
{
    <div class="gb-contact-form gb-section">
        <div class="container">
            <form method="POST" class="gb-form">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Your Name" asp-for="Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="email" class="form-control" required="required" placeholder="Your Email" asp-for="Email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Subject" asp-for="Subject">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" required="required" rows="7" placeholder="Your Message" asp-for="Message"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn button-red pull-right"><span>Send Message</span></button>
            </form>
        </div><!-- /.container -->
    </div><!-- /.gb-contact-form -->
}
else
{

}


@await  Html.PartialAsync("Callouts/_Map")
