@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "_SubPageLayout";    
}
		
		<div class="gb-breadcrumb gb-bg white-color error-bg">
			<div class="container">
				<div class="breadcrumb-info text-center">
					<div class="page-title">
						<h1>
							<span class="before-top"></span>
							<span>@HttpContext.Response.StatusCode - Nothing to see here</span>
							<span class="before-bottom"></span>
						</h1>
					</div>				
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-breadcrumb -->	
			
		<div class="gb-not-found text-center gb-section">
			<div class="container">
				<div class="not-found-content">
					<h1 class="color-red">@HttpContext.Response.StatusCode</h1>
                    @if (HttpContext.Response.StatusCode == 404) {
					<h2>We are sorry ! The page you are looking for, does not exist</h2>
                    } else if (HttpContext.Response.StatusCode == 500) {
					<h2>We are currently experiencing difficulties.  Please call back later.</h2>
                    }
					<a href="index.html" class="btn button-red">Back To Home</a>
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-not-found -->
