@page
@{
    ViewData["Title"] = "Home page";
}

<div class="gb-breadcrumb gb-bg white-color faq-bg">
    <div class="container">
        <div class="breadcrumb-info text-center">
            <div class="page-title">
                <h1>
                    <span class="before-top"></span>
                    <span>Frequently Asked Questions</span>
                    <span class="before-bottom"></span>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.gb-breadcrumb -->

<div class="bg-page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="blog-content">
                    <div class="gb-post gb-box-shadow">
                        <div class="entry-content">
                            <div class="media-body">
                                <h2 class="entry-title">Why are we having this conference?</h2>
                                <div class="entry-meta"></div>
                                <div class="entry-summary">
                                    <p>There was a group of local MVPs talking after a local user group meeting. After an engaging conversation on conferences, we came to the following conclusion:</p>
                                    <p>Although we have many great conferences and great sessions within our reach, we haven’t seen enough of the kind of presentations that excite us. So instead of just talking about the problem, we decided to do something about it.</p>
                                    <p>This is a grass-root initiative.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gb-post gb-box-shadow">
                        <div class="entry-content">
                            <div class="media-body">
                                <h2 class="entry-title">Is food provided?</h2>
                                <div class="entry-meta"></div>
                                <div class="entry-summary">
                                    <p>Lunch will be provided.  Water will be available throughout the day.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gb-post gb-box-shadow">
                        <div class="entry-content">
                            <div class="media-body">
                                <h2 class="entry-title">Expected attendance.</h2>
                                <div class="entry-meta"></div>
                                <div class="entry-summary">
                                    <p>We are expecting 300 attendees to be at the conference.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gb-post gb-box-shadow">
                        <div class="entry-content">
                            <div class="media-body">
                                <h2 class="entry-title">Number of rooms/tracks/speaker slots.</h2>
                                <div class="entry-meta"></div>
                                <div class="entry-summary">
                                    <p>We are expecting 6 rooms with 4 sessions each.  In addition, we have an opening Key Note, Robotics Competition and Open Space.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- /.container -->
</div>