@model devfestweekend.Models.Speaker
    <div class="col-sm-6 col-md-3">
        <div class="speaker">
            <div class="speaker-image">
                <img class="img-responsive" alt="Image" src="@Model.AvatarUrl">
                <ul class="speaker-social gb-list list-inline">
                    @if (!string.IsNullOrWhiteSpace(Model.TwitterUrl))
                    {
                        <li>
                            <a href="https://twitter.com/@Model.TwitterUrl">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.LinkedInUrl))
                    {
                        <li>
                            <a href="https://linkedin/">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.BlogUrl))
                    {
                        <li>
                            <a href="#">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="speaker-title">
                <h2>@Model.FirstName @Model.LastName</h2>
                <span>@Model.Biography</span>
            </div>
        </div>
    </div>